{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl max-w-3xl">Audit Report Library</h1>
    </div>
</div>

<div class="container mx-auto flex flex-wrap lg:flex-no-wrap mb-24 items-start">
    <div class="w-full lg:w-1/4 font-mont mb-12">
        <div class="bg-gray-light p-4 mb-12">
            {{ function('do_shortcode', '[facetwp facet="audit_search"]') }}
            <h2 class="text-blue-darkest text-2xl font-bold mb-4">Filter Results</h2>
            <div class="block relative w-full mb-4">
                {{ function('do_shortcode', '[facetwp facet="audit_agency"]') }}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            <div class="block relative w-full mb-4">
                {{ function('do_shortcode', '[facetwp facet="audit_subject"]') }}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            <div class="block relative w-full mb-4">
                {{ function('do_shortcode', '[facetwp facet="audit_year"]') }}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            <label class="hover:cursor-pointer"><input id="show-viewable-reports" type="checkbox" class="mr-2" onclick="showViewableAudits()">See Only Viewable Reports</label>

            <button type="button" class="button block bg-white text-gray rounded-none border-none mt-8 w-full" onclick="FWP.reset()">Reset Filters</button>
        </div>
        <div class="hidden lg:flex justify-center">
            <a href="{{ TimberPost(function('get_option', 'page_for_upcoming_audit')).link }}" class="button">View Upcoming Audits</a>
        </div>
    </div>
    <div class="w-full lg:w-3/4 flex-1">
        <div class="flex flex-wrap space-around mb-8 facetwp-template -mt-8">
        {% set last_audit_year = null %}
        {% for audit in posts %}
            {% if last_audit_year != audit.date('Y') %}
                <div class="w-full lg:flex-shrink-0 mx-8 px-6 pb-0 pt-8 text-lg text-blue-darkest font-bold">{{ audit.date('Y') }}</div>
            {% endif %}
            {% set last_audit_year = audit.date('Y') %}
            <article class="lg:max-w-sm w-full font-mont p-6 border-b border-gray mx-8 flex flex-col">
                <div class="flex justify-start items-center mb-2">
                    {% if function('kslpa_is_recent_audit', audit) %}
                        <div class="bg-blue text-white px-2 text-xs mr-2">New</div>
                    {% endif %}
                    <div class="text-sm leading-tight">Published: {{ audit.date('F, Y') }}</div>
                </div>
                <h1 class="text-blue-darkest text-lg leading-tight mb-6 flex-1" style="flex: 1 0 auto;">{{ audit.title }}</h1>
                <div class="flex items-center lg:justify-between -mx-2">
                    {% if post.get_field('it_audit_term') in audit.terms('audit_subject')|map(t => t.ID) %}
                        <a href="#" class="open-audit-abstract underline text-blue-lightest mx-2">View Audit Statement</a>
                        <div id="audit-abstract-{{ audit.ID }}" class="audit-abstract hidden">
                            <div class="audit-abstract-content bg-white p-8 max-w-xl mx-auto relative font-mont">
                                <h1 class="leading-tight text-blue-darkest text-lg mb-1">{{ audit.title }}</h1>
                                <h2 class="mb-8 text-sm">Audit Statement</h2>
                                {% if post.get_field('it_audit_statement') %}
                                    <div class="mb-8 wysiwyg-content">{{ post.get_field('it_audit_statement') }}</div>
                                {% endif %}
                                <div><a href="{{ post.get_field('it_audit_summary_report').url }}" class="button">View 3-year IT Summary Report</a></div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ audit.link }}" class="button button-inverted mx-2 mr-4">Read Report</a>
                        <a href="#" class="underline text-blue-lightest mx-2 open-audit-abstract">Read Abstract</a>
                        <div id="audit-abstract-{{ audit.ID }}" class="audit-abstract hidden">
                            <div class="audit-abstract-content bg-white p-8 max-w-xl mx-auto relative font-mont">
                                <h1 class="leading-tight text-blue-darkest text-lg mb-1">{{ audit.title }}</h1>
                                <h2 class="mb-8 text-sm">Report Abstract</h2>
                                {% if audit.abstract %}
                                    <div class="mb-8">{{ audit.abstract }}</div>
                                {% else %}
                                    <div class="mb-8">Abstract not available.</div>
                                {% endif %}
                                <div><a href="{{audit.link}}" class="button">Read Full Report</a></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
        </div>
        {{ function('facetwp_display', 'pager') }}
    </div>
</div>
{% endblock %}