{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl  max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="container mx-auto mb-24 px-4 lg:px-0 max-w-5xl">
    <div class="flex justify-between items-center flex-wrap mb-24">
        <div class="text-2xl font-mont font-bold text-blue-darkest max-w-3xl"> 
        {% if next_meeting %}
            The next meeting of the Legislative Post Audit Committee is set for {{ next_meeting.date('F d, Y') }}.
        {% else %}
            The next meeting of the Legislative Post Audit Committee has not been scheduled yet.
        {% endif %}
        </div>
        {% if next_meeting.get_field('agenda') %}
            <a class="button" href="{{ next_meeting.get_field('agenda').url }}" target="_blank">View Agenda</a>
        {% endif %}
    </div>

    <div class="">
        <div class="flex mb-8">
            <h2 class="w-1/3 lg:flex-1 font-mont font-bold text-lg lg:text-2xl text-blue-darkest">Meeting Dates</h2>
            <div class="w-1/3 lg:w-1/5 text-left md:text-right font-mont font-bold text-lg lg:text-2xl text-blue-darkest">Minutes</div>
            <div class="w-1/3 lg:w-1/5 text-right font-mont font-bold text-lg lg:text-2xl text-blue-darkest">Audio</div>
        </div>
        <div class="space-around mb-8 facetwp-template -mt-8">
        {% set last_meeting_year = null %}
        {% for meeting in posts %}
            {% if last_meeting_year != meeting.date('Y') %}
                <div class="w-full flex-shrink-0 pb-0 pt-8 text-lg text-blue-darkest font-bold border-b border-gray">{{ meeting.date('Y') }}</div>
            {% endif %}
            {% set last_meeting_year = meeting.date('Y') %}
            <article class="w-full font-mont py-2 border-b border-gray flex">
                <div class="w-1/3 lg:flex-1">{{ meeting.date('F d, Y') }}</div>
                <div class="w-1/3 lg:w-1/5 text-left md:text-right">
                    {% if meeting.get_field('minutes') %}
						<a class="underline text-blue" href="{{ meeting.get_field('minutes').url }}" download>Download</a>
					{% else %}
						<span class="not-available">Not Available</span>
                    {% endif %}
                </div>
                <div class="w-1/3 lg:w-1/5 text-right">
                    {% if meeting.get_field('media_link') %}
						<a class="underline text-blue" href="{{ meeting.get_field('media_link') }}" target="_blank">View</a>
					{% else %}
						<span class="not-available">Not Available</span>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
        </div>
        {% set pagination = posts.pagination %}
        {% include 'pagination.twig' %}
    </div>
</div>
{% endblock %}