{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl  max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="wysiwyg-content max-w-3xl mx-auto mb-24 px-4 lg:px-0">
    <div>
        {{ post.content }}
    </div>
</div>
<div class="max-w-5xl mx-auto flex flex-wrap justify-center mb-24">
    {% for staff in post.get_field('staff') %}
        {% set member = TimberPost(staff.staff_member) %}
        <article class="p-2 flex flex-col min-w-64 {{ staff.distinguished ? 'w-2/5' : 'w-1/4' }}">
            <div class="w-full flex-shrink-0">
                <img src="{{ member.thumbnail.src('large') }}" class="block w-full bg-gray" />
            </div>
            {% if staff.distinguished %}
                <div class="p-2 mb-2 flex-1 flex flex-col justify-start flex-shrink-0" style="flex: 1 0 auto;">
                    <h1 class="text-blue-darkest font-bold text-2xl flex-1" style="flex: 1 0 auto;">{{ member.title }}</h1>
                    <div class="text-blue-darkest">{{ member.get_field('job_title') }}</div>
                    <hr class="w-2/3 self-start text-gray-dark border-b my-4 ml-0">
                    <div class="text-gray text-sm">{{ member.get_field('phone_number') }}</div>
                    <div class="text-gray text-sm break-words">{{ member.get_field('email_address') }}</div>
                </div>
            {% else %}
                <div class="bg-gray-light p-2 mb-2 flex-1 flex flex-col flex-shrink-0" style="flex: 1 0 auto;">
                    <h1 class="text-blue-darkest font-bold text-2xl flex-1" style="flex: 1 0 auto;">{{ member.title }}</h1>
                    <div class="text-blue-darkest mt-4">{{ member.get_field('job_title') }}</div>
                    <div class="text-gray text-sm">{{ member.get_field('phone_number') }}</div>
                    <div class="text-gray text-sm break-words">{{ member.get_field('email_address') }}</div>
                </div>
            {% endif %}
        </article>
    {% endfor %}
</div>
{% endblock %}