.contact {

    &__nav {
        display: flex;
        border-bottom: .25rem solid $dark-blue;

        &-button {
            flex: 0 0 calc(100%/3);
            font-family: $font-heading;
            letter-spacing: .125em;
            color: $dark-blue;
            text-transform: uppercase;
            border: none;
            background: none;
            border-radius: 0;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 2px;

            &:focus {
                outline: none;
            }

            &--active {
                background: $dark-blue;
                color: $white;
            }
        }

    }

    &__location {
        &-details-wrapper {
            display: flex;
            flex-wrap: wrap;
            
            @include mq($tablet){
                flex-wrap: nowrap;
            }
        }

        &-info-wrapper {
            min-width: 18rem;
        }

        &-address {
            font-style: normal;
        }

        &-image {
            flex: 1 1 100%;
            order: -1;
            margin-bottom: 1rem;
            
            @include mq($tablet){
                margin-left: 2rem;
                flex: 1 1 auto;
                order: inherit;
            }

            img {
                width: 100%;
                display: block;
            }
        }

        &-lobby, &-drive-up {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: flex;

                span:first-child {
                    min-width: 10rem;
                }
            }
        }

        &-employees {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            @include mq($tablet){
                justify-content: space-between;
            }
        }

        &-employee {
           width: 20rem;
           flex: 0 0 20rem;
           margin-bottom: 2.5rem;

           @include mq($tablet){
               flex: 0 0 17.5rem;
           }

           &-image {
               display: block;
               width: 90%;
               height: auto;
               margin: 0 auto;
           }
           
           &-name {
               color: $dark-blue;
               text-transform: uppercase;
               font-family: $font-heading;
               letter-spacing: .125em;
               font-weight: 700;
               margin-bottom: 1rem;
               padding-top: 1rem;
               border-top: 2px solid $dark-blue;
           }

           &-email {
               margin-top: 1rem;

               a {
                   text-decoration: none;
               }
           }
        }
    }
}