.give-padding {
	padding-left: .75rem;
	padding-right: .75rem;
}

.light-gray-bg, .light-grey-bg {
	background-color: $light-gray;
}


.centered-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.light-text {
	font-weight: 300 !important;
}

.normal-text {
	font-weight: 400 !important;
}

.bold-text {
	font-weight: 700 !important;
}

.align-center {
	display: flex;
	align-items: center;
	
	@media screen and (max-width: 480px){
		display: block;	
	}
}

.alignright {
	float: right;
}

img.aligncenter {
	display: block;
	margin: 1.5em auto;
	clear: both;
	width: 100%;
}

.alignnone {
	float: none;
	display: block;
	max-width: 100%;

	a.imgwrap {
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

img.alignnone {
	display: block;
	clear: both;
	margin: 1.5em auto;
}

.alignleft {
	float: left;
}

img.alignright {
	padding-left: 3rem;
	// padding-top: 3rem;
	padding-bottom: 3rem;
}

img.alignleft {
	padding-right: 3rem;
	// padding-top: 3rem;
	padding-bottom: 3rem;
}

.wp-caption {
	background: $light-gray;
	padding: 1.5em 1em;
	margin: 1.5rem 0;

	@include clearfix;

	.wp-caption-text {
		margin: 0;
		margin-top: 1.5em;
	}
}


.full-width {
	margin-left: -30vw;
	margin-right: -30vw;
	padding-left: 30vw;
	padding-right: 30vw;
	overflow: hidden;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #eee;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.magnific {
	position: relative;
	background: #FFF;
	padding: 1rem;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;

	.mfp-close {
		margin: 0;
	}
}

.mfp-content {
	animation: slideInUp 350ms 1;
}
.mfp-close {
	border: none;
	border-radius: 0;
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

.mfp-bg.mfp-removing {
	opacity: 0;
	transition: all 300ms linear;
}

.mfp-wrap.mfp-removing .mfp-content {
	transform: scale(0);
	transition: all 200ms linear;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.flex-center {
	display: flex;
	align-items: center;
}

.uppercase {
	text-transform: uppercase !important;
}

.u-bold {
	font-weight: 700 !important;
}

.u-extra-bold {
	font-weight: 900 !important;
}

.white-text {
	color: $white;
}

.u-white-text {
	color: $white;
}

.text-right {
	text-align: right;
}

.u-text-center {
	text-align: center;
}

.u-hide-small-tablet {
	@include mq($small-tablet){
		display: none !important;
	}
}

.u-hide-mobile {
	@include mq($until: $tablet){
		display: none !important;
	}
}

.u-hide-after-small-tablet {
	@include mq($until: $small-tablet){
		display: none !important;
	}
}

.u-hide-tablet {
	@include mq($tablet){
		display: none !important;
	}
}

.u-fs-4 {
	font-size: 4rem;
}

.u-block {
	display: block;
}

.u-mr-2 {
	margin-right: 2rem;
}

.u-mb-1 {
	margin-bottom: 1rem;
}

.u-mb-2 {
	margin-bottom: 2rem;
}

.u-mb-3 {
	margin-bottom: 3rem;
}

.u-mb-4 {
	margin-bottom: 4rem;
}

.u-mbt-4, .u-mtb-4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.u-pbt-4, .u-ptb-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}


.u-pbt-8, .u-ptb-8 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}


.u-mbt-8, .u-mtb-8 {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.u-mbt-10, .u-mtb-10 {
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.u-mw-30 {
	max-width: 30rem;
}

.u-wrapper {
	max-width: $desktop;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5rem;
	padding-right: .5rem;

	&--narrow {
		max-width: $tablet;
	}
}

.u-superscript {
	font-size: .5em;
	vertical-align: super;
}

.u-slashed {
	text-decoration: line-through;
}

.u-shadow{
	box-shadow: 0 0 7px 4px rgba(0,0,0,0.20);	
}